html, body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;
    
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
}
.menu-bg {
    width: 15%;
    background-color: #7ca4e0;
}

.text-color {
    color: azure;
}

.header {
    background-color: #88d5eb85;
    min-height: 150px;
    text-align: center;
}
.content {
    background-color: white;
    min-height: 350px;
    padding: 20px;
    text-align: justify;
}


.footer {
    background-color: #7bd8f162;
    min-height: 100px;
}